form {
  text-align: center;
}

label {
  display: block;
  padding: 1em;
  font-family: sans-serif;
}

#first,
#second {
  display: inline-block;
  margin-right: 0.5em;
}

span {
  display: block;
  margin: 0.5em;
}

select {
  display: inline;
}

.output {
  display: inline-block;
}

#output {
  margin: 1em 1em 1em 0em;
  padding: 1em;
}